@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i&display=swap');

*{font-family: 'Montserrat', sans-serif;;}

* {
 margin: 0;
 padding: 0;
}

.header{
  display: flex;
  background-color:#414b50;
}

.header>span{
  margin-top: 12px;
  font-size: 30px;
}

.menu{
  margin-left: 60%;
  margin-top: 10px;

}

.menu>a{
  display: inline-block;
  background-color:#4CAF50;
	color:#FFEB3B;
	border-radius: 5px;
  border: solid #00BCD4;
	text-align:center;
	margin-top:2px;
	padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;}


.footer{
  display: flex;
  background-color:#414b50;
  height: 80px;

}

.page{
  text-align: center;
  margin:10% 25% 10% 25%;
  width:50%;

}

.redbutton{
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-align:center;
  text-decoration: none;
  margin-top:2px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.5s;

}

.redbutton:hover{
  cursor:pointer;
  -moz-transform: translateY(-12px);
  -webkit-transform: translateY(-12px);
  -o-transform: translateY(-12px);
  -ms-transform: translateY(-12px);
  transform: translateY(-12px);

}

input{
	padding: 4px 15px 4px 5px;
  border-radius: 5px;
  border: solid silver;
  width: 300px;
  height: 30px;
  font-size: 18px;
  display: block;


}

.registerform{
  display: inline-grid;
  margin:0% 0% 0% 0%;
  text-align:justify;
}

label{
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 3px;

}

#id_long_link,#sh

/* span[class="helptext"]{
  color: red;
  display: block;
}
ul[class="errorlist"]{
  color: red;
} */
