{% extends 'cut/main.html' %}
{% block main_section %}
<div class="">
    <div class="" >

      <br>
      <br>
      <h1><b>Кабинет пользователя {{user.username}} </b></h1>
      <br>
      <div class="">

        <br>
        <strong>@{{user.username}}</strong>
        <br>
        <br>
        <b>Email: </b>{{user.email}}


      <br>
      <br>
      <a href="{% url 'exit' %}" class="redbutton">Выйти</a>
      </div>

      <div class="">
      <h2>Изменить данные для пользователя</h2>
      <br>
      <form  method="POST" enctype="multipart/form-data">
        <div  class="registerform">
          {% csrf_token %}
          {{ update_user}}
          <br>
          <button type="submit" class="redbutton">Обновить данные</button>
          <br>
          <br>
          <br>
        </div>
      </form>
      </div>
    </div>
</div>
{% endblock main_section %}
