{% extends 'cut/main.html' %}
{% block main_section %}
<div >
  <form   method="POST" class="listlink">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="redbutton">Создать ссылку</button>
    <h2>Доступные ссылки</h2>
    {% for post in link %}
      {%if post.avtor == user%}
      <div class="listlink">
        <p>Ссылка</p><a href="{{ post.long_link}}">link/{{post.short_link}}</a>
      </div>
      {%endif%}
    {%endfor%}
  </form>

  <hr>
</div>

{% endblock main_section %}
