{% extends 'cut/main.html' %}
{% block main_section %}
<div >
  <form   method="POST" class="">
    <div class="createlink">

    {% csrf_token %}
    {{form}}
    <br>
    <button type="submit" class="redbutton">Создать ссылку</button>
  </div>
    <br>
    <br>
    <br>
    <h2>Доступные ссылки:</h2>
    {% for post in link %}
      {%if post.avtor == user%}
      <div class="listlink">
        <p>Ссылка<a href="{{ post.long_link}}"> link/{{post.short_link}}</a></p>
        <br>
      </div>
      {%endif%}
    {%endfor%}
  </form>

  <hr>
</div>

{% endblock main_section %}
