{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{% static 'cut/cut.css'%}">


</head>
<body>
  <div class="header">
      <span>
      <b>Cutlink.net</b>
      </span>
      <div class="menu">

        <a href="{% url 'cut-home' %}">Главная</a>
        <a href="{% url 'about' %}">Про нас</a>

        {% if user.is_authenticated %}

        <a href="{% url 'profile' %}" > Профиль</a>
        <a href="{% url 'createlink' %}">Ссылки</a>

        {% else %}

        <a href="{% url 'profile' %}">Войти</a>
        <a href="{% url 'reg' %}">Регистрация</a>

        {% endif %}
      </div>
    </div>

      {% if messages %}
        {% for mess in messages %}
          <div class="">
          {{ mess }}
          </div>
        {% endfor %}
      {%endif%}


    <div class="page">

      {% block main_section %}
      {% endblock %}
    </div>


<div class="footer">
  @-Все права защищены
</div>

</body>
</html>
